.social-button {
	width: 50px !important;
	height: 50px !important;
}

.github {
	color: white !important;
}

.social-card {
	height: 80px !important;
}

.reset-link {
	color: purple;
	font-style: italic;
	cursor: pointer;
}
